.ipynb_checkpoints/
*.Rhistory
gaussiann_plume_model/speed
gaussiann_plume_model/sun
gaussiann_plume_model/clouds
gaussiann_plume_model/2D
gaussiann_plume_model/2D_p
gaussiann_plume_model/plots
surface*.csv
gaussiann_plume_model/Gaussian Plume - playground.ipynb
